<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            if ( !localStorage.token ) {
                window.location = '/';
            } else {
                var user = JSON.parse( atob( localStorage.token.split( '.' )[ 1 ] ) );
                if ( !user.isAdmin ) {
                    window.location = '/';
                }
            }
        </script>
        <meta charset="UTF-8">
        <meta ttp-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edigames | Admin team</title>
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    </head>
    <body>
		<div id="root"></div>
        <script src="http://localhost:35729/livereload.js"></script><!-- remove in production ENV -->
        <script src="js/admin-team.js"></script>
    </body>
</html>
