<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta ttp-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edigames | Team</title>
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
		<div id="root"></div>
        <script src="http://localhost:35729/livereload.js"></script><!-- remove in production ENV -->
        <script src="/js/team.min.js"></script>
    </body>
</html>
