body {
    background: -webkit-linear-gradient(top, #276071 25%, #b7ad70 100%);
    background-attachment: fixed;
}

/* ========================= */
/*  title
/* ========================= */
.title-wrap {
    margin: 50px auto;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 10px;
    width: 250px;
    border-bottom: 2px dashed green;
}

.subtitle-painted {
    color: #F85050;
}

.redirect-login {
    transition-duration: 0.2s;
}
.redirect-login:hover {
    color: #69b1ff;
}

/* ========================= */
/*  login form
/* ========================= */
/*.login-form {
    margin: auto;
    width: 300px;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(0,0,0,0.2);
    text-align: center;
}*/
.login-form-wrap {
    margin: auto;
    width: 300px;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(0,0,0,0.2);
    text-align: center;
}

.login-form-wrap .login-form {
    text-align: center;
    padding: 10px 0;
}

.login-form .form-control {
    background: rgba(255,255,255,0.2);
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.login-form .form-control::placeholder {
    color: rgba(255,255,255,0.6) ;
}

.login-form .form-control:focus {
    background: rgba(255,255,255,0.4);
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    margin-right: 5px;
}
