* {
    margin: 0;
    box-sizing: border-box;
}

/* ========================= */
/*  titles
/* ========================= */


/* ========================= */
/*  buttons
/* ========================= */
.btn {
    cursor: pointer;
}
