* {
    margin: 0;
    box-sizing: border-box;
}

/* ========================= */
/*  Navbar
/* ========================= */
.content-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-wrap {
    background: rgba( 29, 27, 27, 0.9 );
    border-bottom: 1px solid rgba( 0, 0, 0, 0.5 );
}

.navbar {
    padding: 2px 0px;
}

.user-pic {
    background-image: url( '/img/profile/ava_0.jpg' );
    background-size: 140px 50px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    box-shadow: 0px 0px 0px 2px #fff;
}

.user-name {
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.navbar .form-control {
    margin-bottom: 0;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    left: 10;
    margin-top: 5px;
}

.navbar .nav-link {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    transition-duration: 0.2s;
    border-radius: 3px;
}

.navbar .nav-link:hover {
    background: #28a745;
}

.my-lg-0 form, .my-lg-0 ul {
    display: inline-flex;
}
.my-lg-0 form .form-control {
    background: rgba(255,255,255,0.2);
    color: #fff;
    padding: 5px 15px;
}
.navbar form .form-control{
    background-color: rgb(81, 83, 85);
    transition: all .1s ease-out;
    color: #b7b7b7;
}

.navbar form .form-control:focus {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.navbar form .btn {
    margin-right: 5px;
}

.nav-item .dropdown-menu {
    background: #26282b;
}

.nav-item .dropdown-menu a {
    color: #fff;
}

.nav-item .dropdown-menu a:hover {
    background: rgba(60, 62, 65, 0.43);
}

/* ========================= */
/*  Buttons
/* ========================= */
.btn {
    cursor: pointer;
    margin: 0
}
