body {
    background: -webkit-linear-gradient(top, #276071 25%, #b7ad70 100%);
    background-attachment: fixed;
}

/* ========================= */
/*  title
/* ========================= */
.title-wrap {
    margin: 20px auto;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 10px;
    width: 250px;
    border-bottom: 2px dashed green;
}

.subtitle-painted {
    color: #F85050;
}

.redirect-login {
    transition-duration: 0.2s;
}
.redirect-login:hover {
    color: #69b1ff;
}

/* ========================= */
/*  signup form
/* ========================= */
.signup-form-wrap {
    margin: auto;
    width: 600px;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    background: rgba(0,0,0,0.2);
    text-align: center;
}

.signup-form-wrap .signup-form {
    text-align: center;
    padding: 10px 0;
}

.signup-form .form-control {
    background: rgba(255,255,255,0.2);
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.signup-form .form-control::placeholder {
    color: rgba(255,255,255,0.6) ;
}

.signup-form .form-control:focus {
    background: rgba(255,255,255,0.4);
}

.invalid-feedback {
    display: block;
    color: #dbe000;
    font-weight: 500;
    text-align: left;
}

.redirect-form {
    color: #eee;
    transition-duration: 0.2s;
}

.redirect-form:hover {
    color: #69b1ff;
}
.fa-long-arrow-right {
    margin-left: 15px;
}
.fa-long-arrow-left {
    margin-right: 15px;
}
