/* ========================= */
/*  Users
/* ========================= */
.user-wrap {
    padding: 0;
}

.user-details-wrap {
    background: #eee;
    margin: 0 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    border-radius: 5px;
    padding: 2px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-wrap .user-list-wrap {
    min-height: 115px;
    list-style: none;
    background: #ddd;
    margin: 5px auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.user-list-wrap .user-name-wrap {
    font-weight: bold;
    color: #000;
}

.user-list-wrap .user-pic {
    box-shadow: 0px 0px 0px 2px #17a2b8;
    margin-right: 10px;
    margin-top: -5px;
}

.user-list-wrap .btn-xs {
    margin-top: 5px;
    padding: 4px 8px;
    font-size: 13px;
}
